<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.5"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>genericProxy</servlet-name>
		<servlet-class>eu.geosmartcity.test.wps.Proxy</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>genericProxy</servlet-name>
		<servlet-class>eu.geosmartcity.test.wps.HttpProxyServlet</servlet-class>
		<init-param>
			<param-name>host</param-name>
			<param-value>http://</param-value>
		</init-param>
		<init-param>
			<param-name>uri</param-name>
			<param-value>/test-wps/call*</param-value>
		</init-param>		
	</servlet>
	<servlet-mapping>
		<servlet-name>genericProxy</servlet-name>
		<url-pattern>/call/*</url-pattern>
	</servlet-mapping>
</web-app>